mixin digits-block
    section.section-digits-block
        .container 
            .digits-block
                .digits-block__list
                    .digits-block__item
                        .digits-block__num 156
                        .digits-block__desc Implemented projects
                        .digits-block__small Around the world
                    .digits-block__item
                        .digits-block__num 28
                        .digits-block__desc Partners
                        .digits-block__small In different areas
                    .digits-block__item
                        .digits-block__num 7
                        .digits-block__desc Years of operating
                        .digits-block__small On the US market
                    .digits-block__item
                        .digits-block__num 8
                        .digits-block__desc Design awards
                        .digits-block__small From Dezeen, Houzz and others