mixin bgimage-block
    section.section-bgimage-block(id="Services")
      
            .bgimage-block
                .bgimage-block__bg
                    +picture('/img/common/bg')
               
                .bgimage-block__content
                    .container
                        .formated-text
                            h2 Pool screen enclosures

                            p Transform your pool into a private oasis with our stylish screen enclosures. Keep your pool area clean and critter-free. Customize your design with various options. Enjoy year-round swimming – contact us today!
                            h2 Patio screen enclosures

                            p Enhance your patio with our stylish, protective screen enclosures. Bid farewell to pests and enjoy uninterrupted relaxation. Our enclosures keep bugs out while letting in fresh air and light. Customize your design to match your style - from frames to screens. 
                                        