mixin your-project
    section.section-your-project
        .container 
            .your-project 
                .your-project__title Want to get your project done?
                .your-project__desc Contact us to discuss your project <br> and get the most fair offer.
                .your-project__btn
                     a(href="#"): button.btn  
                            +icons('#ic_cursor')
                            span Click here
