mixin callback-block
    section.section-callback-block
        .container 
            .callback-block
                .formated-text  
                    img(src="")
                    h2 Free estimate 
                    hr
                    h2 Request your quote
                    a(href="#"): button.btn  
                        +icons('#ic_cursor')
                        span Ask for a quote
