mixin callback-block
    section.section-callback-block
        .container 
            .callback-block
                .formated-text  
                    img(src="/img/icons/calc.svg" style="max-width: 90px; margin: 0 auto")
                    h2 Free estimate 
                    hr
                    h2 Request your quote
                    a( data-modal="/parts/_popup-callback.html"): button.btn  
                        +icons('#ic_cursor')
                        span Ask for a quote
