mixin products-block 
    section.section-products-block 
        .container 
            .products-block
                .products-block__intro We use only high-quality materials of domestic production
                .products-block__list 
                    .products-block__item
                        .products-block__image
                            +picturePng('/img/common/net1')
                        .products-block__main
                            .products-block__title 18 x 14 Fiberglass Mesh Insect Screen
                            .products-block__desc This 18x14 screen is a traditional choice for patio and pool enclosures. Pool & Patio Screen was designed for applications where extra strength is desired.
                            .products-block__logo
                                ul
                                    li: +bgimage('/img/common/logo1.png')
                                    li: +bgimage('/img/common/logo2.png')
                                    li: +bgimage('/img/common/logo3.png')
                    .products-block__item
                        .products-block__image
                            +picturePng('/img/common/net2')
                        .products-block__main
                            .products-block__title No-See-Um Screening (20 x 20)
                            .products-block__desc This 20x20 fiberglass screen is a tightly-woven mesh designed to control small insects. No-See-Um Screen still allows good ventilation and visibility, while it provides some daytime privacy and stops most small insects.
                            .products-block__logo
                                ul
                                    li: +bgimage('/img/common/logo1.png')
                                    li: +bgimage('/img/common/logo2.png')
                                    li: +bgimage('/img/common/logo3.png')
                    .products-block__item
                        .products-block__image
                            +picturePng('/img/common/net1')
                        .products-block__main
                            .products-block__title Glas-Shield™ is a vinyl-laminated 18x14
                            .products-block__desc Glas-Shield™ is a vinyl-laminated 18x14 fiberglass screen. Glas-Shield can be installed below the chair rail to keep dirt and debris out of pool enclosures or as a privacy screen in vertical (wall) applications. Not made to be used as roofing material or in horizontal applications.
                            .products-block__logo
                                ul
                                    li: +bgimage('/img/common/logo1.png')
                                    li: +bgimage('/img/common/logo2.png')
                                    li: +bgimage('/img/common/logo3.png')


                .products-block__textmax
                    .line-header Our Mission
                    .textmax  Our priority is to deliver the <span> best possible results </span> to our velued customer all the way untill the <span> screen enclosure </span> project is done.