mixin review-block
    section.section-review-block(id="Testimonials")
        .container 
            .review-block
                .review-block__title
                    .line-header Testimonials
                    h2 What Our Clients Say
                .review-block__slider
                    .splide(data-slider="rev")
                        .splide__track
                            .splide__list
                                .splide__slide
                                    .item-review
                                        .item-review__text From the initial consultation to the final installation, the team at Screened Patio repair company displayed a high level of professionalism and expertise. They took the time to understand my requirements and provided valuable recommendations based on their extensive knowledge in the field.
                                        .item-review__autor Luke Peterson
                                .splide__slide
                                    .item-review
                                        .item-review__text Well done guys! Called and got an estimate over the phone instantly. Same day consultation. Our patio was completed within a few days. The entire crew was professional and the job was flawless. Exceptional service, hard working and they’ll get the job done fast.
                                        .item-review__autor Samantha Smith
                                .splide__slide
                                    .item-review
                                        .item-review__text Last week I called to inquire about the cost of the appraisal. They explained to me what would be done and showed me different types of screens from which I could choose. The work was completed in 2 days. They exceeded my expectations. Highly recommended. I'm very glad I chose Lanai101. Thank you
                                        .item-review__autor Jonas Milestone
                                .splide__slide
                                    .item-review
                                        .item-review__text The quality of their workmanship was exceptional. The canopy they installed not only met but exceeded my expectations. The materials used were of excellent quality, ensuring durability and longevity. The installation process was efficient, and the team worked diligently to complete the project on time.
                                        .item-review__autor James Corden