mixin advantages
    section.section-advantages
        .container 
            .advantages
                .advantages__list
                    .advantages__item
                        .advantages__icon: +bgimage('/img/icons/a1.svg')
                        .advantages__title: h3 10 Years Manufacturer Warranty
                        .advantages__desc Phifer's insect screening for windows and doors is made in the USA. 
                    .advantages__item
                        .advantages__icon: +bgimage('/img/icons/a2.svg')
                        .advantages__title: h3 100% Satisfaction Guaranteed
                        .advantages__desc Repair frame or completely rescreen your balconie, patio, over the pool enclosure, etc. You'll be glad you did!
                    .advantages__item
                        .advantages__icon: +bgimage('/img/icons/a3.svg')
                        .advantages__title: h3 Highly skilled contractors
                        .advantages__desc Our goal is to meet needs and expectations of our clients by providing professional and top notch service.
