.section-portfolio-block {
    padding: 50px 0 90px;

    @media screen and (min-width: $w992) {
        padding-bottom: 130px;
    }
}

.portfolio-block {



    &__slider {
        & picture {
            @include picture(70%, cover);
            border-radius: 6px;
            overflow: hidden;
        }
    }

    &__title {
        text-align: center;
        padding-bottom: 36px;

        & h2 {
            font-size: 32px;
            text-align: center;

            @media screen and (min-width: $w576) {
                font-size: 45px;
            }
        }
    }
}