.popup-form {
    padding: 20px 15px;
    max-width: 490px;
    background-image: linear-gradient(180deg, #111015, #b28e8e);
    background-color: #fff;
    text-align: center;

    @media screen and (min-width: $w760) {
        padding: 60px;
    }


    @media screen and (min-width: $w576) {
        padding: 24px;
    }

    &__title {
        @include font-h3;
        padding-bottom: 12px;
        color: #fff;

    }

    &__desc {
        line-height: 150%;
        padding-bottom: 25px;
        font-size: 16px;
        color: #fff;


    }

    &__form {
        display: flex;
        justify-content: space-between;
    }


}

.popup-success {
    padding: 20px 15px;
    max-width: 490px;

    @media screen and (min-width: $w576) {
        padding: 24px;
    }

    &__title {
        @include font-h4;
        padding-bottom: 12px;
        color: var(--color-text-1);
        text-align: center;
    }

    &__desc {
        line-height: 150%;
        padding-bottom: 25px;
        font-size: 18px;
        text-align: center;

        @media screen and (min-width: $w480) {
            font-size: 20px;
        }

        color: var(--gray-36);
    }



    &__btn {
        & .btn {
            width: 100%;
        }
    }

}