mixin form-block
    section.section-form-block(id="form")
        .container 
            .form-block
                .form-block__wrp
                    .form-block__left
                        .form-block__title 
                            h2 Want to get your project done?
                        .form-block__desc Complete the form below and receive a full analysis of your business within 2 days!

                    .form-block__right
                        form(action='#' method='POST')
                            .form
                                .form__item
                                    .form__subitem
                                        input(type="text" placeholder="Name" required)
                                .form__item
                                    .form__subitem
                                        input(type="tel" placeholder="Phone Number" required)
                                .form__item
                                    .form__subitem
                                        input(type="text" placeholder="Text")
                                .form__item
                                    .form__subitem
                                        button.btn request a quote
