mixin main-banner
    section.section-main-banner(id="About")
        .main-banner
            .main-banner__bg
                +picture('/img/common/mainbg')
            .main-banner__content
                .container 
                    .main-banner__title: h1 Introducing Lanai101 - Your Trusted Pool <br> and Patio Screen Enclosure Repair <br> Experts in Miami, Florida!
                    .main-banner__desc A dedicated team of professionals is ready to impliment your project
                    .main-banner__btn
                        a(href="#"): button.btn.btn-line
                            span Learn more
                        a(href="#"): button.btn  
                            +icons('#ic_cursor')
                            span Click here

